@font-face {
  font-family: 'Sf';
  src: local('Sf'),
    url('./assets//fonts/sf-pro-display-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sf';
  font-weight: bold;
  src: local('Sf'),
    url('./assets//fonts/sf-pro-display-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sf';
  font-weight: normal;
  src: local('Sf'),
    url('./assets//fonts/sf-pro-display-medium.ttf') format('truetype');
}

body {
  font-family: 'SF';
}
